div {
	height: 275px;
	width: 475px;
	background: linear-gradient(to right, #ffffff 0%, #ffffff 10%,#ffffff 30%, #ffffff 50%,#ffffff 70%, #ffffff 90%,#ffffff 70%,#ffffff 50%,#ffffff 30%,#ffffff 10%);
	
	position: fixed;
	top: 45%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	opacity: 0.8;
	
	font-weight: bold;
	font-style: italic;
	font-size: 40px;
	
	border: 3px solid black;
	border-radius: 10px;
}

subheading{
	font-weight: regular;
	font-size: 15px;
	font-style: normal;
}
.button{ 
	onclick: getString();
	background-color: #C4D3D1;
	cursor: pointer;
	display: inline-block;
	margin: 6px 4px;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 8px 10px; 
	transition: all 0.5s;
}
.button span{
	cursor:pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after{
	content: '\00bb';
	posiiton:absolute;
	opacity: 0;
	top:0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span{
	padding-right: 25px;
}

.button:hover span:after{
	opacity:1;
	right: 0;
}

.button:hover{
	background: #C4D3D1
}

.linktext{
	bottom: 0;
	left: 0;
	position: fixed;
	color: white;
}

